<h1 class="flex p-2 font-cs">Adicionar jogador</h1>
<form class="p-2 flex justify-between">
  <div class="flex gap-5">
    <div class="p-field flex gap-3 items-center font-cs">
      <label for="name">Nome</label>
      <input id="name" type="text" pInputText [(ngModel)]="jogador.nick" name="nome" />
    </div>

    <div class="p-field flex gap-3 items-center font-cs">
      <label for="level">Level</label>
      <p-dropdown
        id="level"
        [options]="levels"
        [(ngModel)]="jogador.level"
        placeholder="Selecione o level"
        name="level"
        class="font-cs"
        appendTo="body"
      ></p-dropdown>
    </div>
  </div>
  <div>
    <button
      pButton
      type="submit"
      label="Adicionar"
      class="p-button-primary font-cs"
      (click)="salvarPlayer()"
    ></button>
  </div>
</form>
